In [1]:
import pandas as pd

In [2]:
dists = {"name":["中正區", "板橋區", "桃園區", "北屯區"],
         "population":[152, 146, 21, 344],
         "city":["台北市", "新北市", "桃園市", "台中市"]}
df = pd.DataFrame(dists)

In [4]:
print("df:", df)
print("df.index:", df.index)
print("df.columns:", df.columns)

s:   name  population city
0  中正區         152  台北市
1  板橋區         146  新北市
2  桃園區          21  桃園市
3  北屯區         344  台中市
s.index: RangeIndex(start=0, stop=4, step=1)
s.columns: Index(['name', 'population', 'city'], dtype='object')

In [9]:
dists = {"name":["中正區", "板橋區", "桃園區", "北屯區"],
         "population":[152, 146, 21, 344],
         "city":["台北市", "新北市", "桃園市", "台中市"]}
df = pd.DataFrame(dists)
print("original df is :\n", df)
print("after changing cloumns:\n")
df = pd.DataFrame(dists, columns=["city", "name", "population"])
print(df)

original df is :
   name  population city
0  中正區         152  台北市
1  板橋區         146  新北市
2  桃園區          21  桃園市
3  北屯區         344  台中市
after changing cloumns:

  city name  population
0  台北市  中正區         152
1  新北市  板橋區         146
2  桃園市  桃園區          21
3  台中市  北屯區         344

In [12]:
dfT = df.T
print(dfT)
print(dfT.index)
print(dfT.columns)

              0    1    2    3
city        台北市  新北市  桃園市  台中市
name        中正區  板橋區  桃園區  北屯區
population  152  146   21  344
Index(['city', 'name', 'population'], dtype='object')
RangeIndex(start=0, stop=4, step=1)

In [16]:
dists = {"name":["中正區", "板橋區", "桃園區", "北屯區"],
         "population":[152, 146, 21, 344],
         "city":["台北市", "新北市", "桃園市", "台中市"]}
df = pd.DataFrame(dists, columns=["city", "name", "population"])
print("the first 2 rows\n", df.head(2))
print("\nthe last 2 rows\n", df.tail(2))

the first 2 rows
   city name  population
0  台北市  中正區         152
1  新北市  板橋區         146

the last 2 rows
   city name  population
2  桃園市  桃園區          21
3  台中市  北屯區         344

In [30]:
for i, data in df.iterrows():
    print(data.values)

['台北市' '中正區' 152]
['新北市' '板橋區' 146]
['桃園市' '桃園區' 21]
['台中市' '北屯區' 344]